body {
    margin: 0;
    padding: 0;}

#profile {
    padding: 15px;
    background: #303642;
    display: grid;
    place-items: normal;}

#profile > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;

    animation-duration: 1.2s;
    animation-name: glissement-name;}

#profile > div > #profile-img {
    width: 80px;
    height: 80px;
    border-radius: 100%;}

#profile > div > #info-profile {
    font-family: monospace;
    font-size: x-large;
    color: white;
    place-self: center;
    margin: 0;}

#profile > div > #info-profile > h1 {
    margin: 0;
    font-weight:100;
    font-size: xx-large;
    white-space: nowrap;}

#profile > div > #info-profile > p {
    margin: 0;
    font-weight:100;
    font-size: x-large;}

#profile > div > #info-profile #prenom {
    font-weight:bold;}

@keyframes glissement-name {
    from {
        margin-left: 20%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }}

#description {
    padding: 25px 15px 0px 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: monospace;}

h2 {
    color: #303642;
    margin: 0;}

#parcours {
    list-style: none;
    font-size: large;
    padding: 0;}

.li-groupe {
    background-color: rgb(240, 240, 240);

    padding: 10px;
    margin-left: 5px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px #cccbcb;
    border-radius: 8px;}

.li-groupe p {
    margin: 0;}

.li-groupe .intitule {
    font-weight: 900;
    padding-bottom: 5px;}

.li-groupe .entreprise {
    font-size: small;}

.li-groupe ul {
    list-style: circle;
    padding: 20px 0px 20px 20px;}

.li-groupe ul li {
    padding-bottom: 5px;
    font-size: small;}

.li-groupe .date {
    font-size: small;
    place-self: end;
    font-weight: 600;}

footer {
    background-color: #303642;
    height: 60px;
}

@media (min-width: 1200px) {
    #profile > div > #info-profile {
        font-size: xx-large;
    }
    #profile > div > #profile-img { 
        width: 150px;
        height: 150px;
    }
    #profile {
        padding: 25px;
    }
    #description {
        padding-left: 25px;
        padding-right: 25px;
    }}