<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupes</title>
    <link rel="stylesheet" href="{% static 'gestion/css/bootstrap.css' %}">
    <script src="{% static 'gestion/js/jquery.js'%}" defer></script>
    <script src="{% static 'gestion/js/bootstrap.js'%}" defer></script>
    <script src="{% static 'gestion/js/popper.js'%}"></script>
</head>
<body>
    <div class="row flex-nowrap m-0 p-0" style="background-color: #EFFCF1;">
        <div class="d-flex flex-column bg-white min-vh-100 mr-0" style="width: min-content;">
            <a href="." class="d-flex btn btn-perso my-2 gap-2">
                <img src="{% static 'gestion/src/svg/menu-icon.svg'%}" alt="svg menu" style="width: 30px;" class="align-middle"> 
                <span class="fs-5 d-none d-sm-inline">Menu</span>
            </a>
            <div style="width: 100%; height: 1px; background-color: gray;"></div>
            <a href="groupe" class="d-flex btn btn-perso mt-2 mb-1 gap-2 d-inline">
                <img src="{% static 'gestion/src/svg/groupe-icon.svg'%}" alt="svg groupe" style="width: 25px;" class="align-middle"> 
                <span class="fs-6 d-none d-sm-inline align-middle">Groupes</span>
            </a>
            <a href="encadrant" class="d-flex btn btn-perso my-1 gap-2 d-inline">
                <img src="{% static 'gestion/src/svg/educateur-icon.svg'%}" alt="svg éducateur" style="width: 25px;" class="align-middle"> 
                <span class="fs-6 d-none d-sm-inline">Éducateurs</span>
            </a>
            <a href="adherent" class="d-flex btn btn-perso my-1 gap-2 d-inline">
                <img src="{% static 'gestion/src/svg/adherent-icon.svg'%}" alt="svg adhérent" style="width: 25px;" class="align-middle"> 
                <span class="fs-6 d-none d-sm-inline">Adhérents</span>
            </a>
        </div>
        <div class="col p-3">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>